.container {
    display: flex;
    flex-direction: row;
    align-items: center; /* centra verticalmente */
    justify-content: space-between; /* distribuye columnas */
    gap: 2em;
    padding: 10px 20px;
    margin: 10px auto;
    width: 90%;
    max-width: 80em;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(168, 168, 168);
    color: white;
}

.container:hover {
    background-color: rgb(146, 0, 0);
    h2 {
       color: whitesmoke 
    }
}

/* Columna ID */
.h2 {
    margin: 0;
    color: rgb(248, 58, 58);
    min-width: 50px;
}

/* Columna fecha-hora */
.dateTime {
    display: flex;
    flex-direction: column;
    min-width: 120px;
}

/* Columna descripción */
.description {
    flex: 1; /* ocupa espacio sobrante */
    min-width: 200px;
}

/* Columna status + botón */
.status {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.status button {
    padding: 4px 10px;
    border: none;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}

.status button:hover {
    background-color: rgb(202, 22, 94);
}

.cancelled {
    background-color: rgb(71, 71, 71);
    color: rgb(255, 255, 255);
    h2 {
        color: rgb(90, 0, 0);
    };
    box-shadow: 0 0 25px rgb(253, 87, 87);
}

.cancelled:hover {
    background-color: rgb(71, 71, 71);
    h2 {
        color: rgb(90, 0, 0);
    };
}
